.iphone-11-pro-x-signup2 {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 997px;
    overflow: hidden;
    padding: 73.6px 0;
    width: 375px;
  }
  
  .iphone-11-pro-x-signup2 .image {
    height: 11px;
    margin-right: 1.0px;
    width: 242px;
  }
  
  .iphone-11-pro-x-signup2 .text-1 {
    height: 71px;
    letter-spacing: -0.53px;
    margin-left: 3.0px;
    margin-top: 1px;
    text-align: center;
    width: 400px;
  }
  
  .iphone-11-pro-x-signup2 .overlap-group {
    height: 155px;
    margin-right: 5.0px;
    margin-top: 13px;
    position: relative;
    width: 328px;
  }
  
  .iphone-11-pro-x-signup2 .group-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 130px;
    position: absolute;
    top: 27px;
    width: 198px;
  }
  
  .iphone-11-pro-x-signup2 .text-3 {
    height: 20px;
    letter-spacing: -0.34px;
  }
  
  .iphone-11-pro-x-signup2 .line-1-1 {
    height: 1px;
    margin-left: 1px;
    margin-top: 36px;
    width: 195px;
  }
  
  .iphone-11-pro-x-signup2 .textinput {
    background-color: 
  transparent;
    border: 0;
    height: 20px;
    left: 131px;
    letter-spacing: -0.28px;
    line-height: normal;
    mix-blend-mode: normal;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: left;
    top: 61px;
    width: 170px;
  }
  
  .iphone-11-pro-x-signup2 .textinput::placeholder {
    color: 
  #4d4d4d99;
  }
  
  .iphone-11-pro-x-signup2 .check {
    align-items: flex-start;
    display: flex;
    height: 15px;
    justify-content: flex-end;
    left: 307px;
    position: absolute;
    top: 61px;
  }
  
  .iphone-11-pro-x-signup2 .overlap-group6-1 {
    height: 17px;
    margin-top: -1.0px;
    position: relative;
    width: 22px;
  }
  
  .iphone-11-pro-x-signup2 .line-2 {
    height: 11px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 9px;
  }
  
  .iphone-11-pro-x-signup2 .line-3 {
    height: 17px;
    left: 8px;
    position: absolute;
    top: 0;
    width: 14px;
  }
  
  .iphone-11-pro-x-signup2 .line-4 {
    height: 1px;
    left: 7px;
    position: absolute;
    top: 16px;
    width: 2px;
  }
  
  .iphone-11-pro-x-signup2 .group-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 0;
    width: 311px;
  }
  
  .iphone-11-pro-x-signup2 .view {
    align-items: flex-start;
    display: flex;
    min-width: 111px;
  }
  
  .iphone-11-pro-x-signup2 .overlap-group6-2 {
    align-items: flex-start;
    background-color: 
  #e5eaf5;
    border: 2px solid 
  #9fafcd;
    border-radius: 54.5px;
    display: flex;
    height: 109px;
    min-width: 109px;
    padding: 35px 27px;
  }
  
  .iphone-11-pro-x-signup2 .text-7 {
    color: var(--indigo);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-s);
    font-weight: 600;
    height: 34px;
    letter-spacing: -0.40px;
    text-align: center;
    width: 54px;
  }
  
  .iphone-11-pro-x-signup2 .text-8 {
    color: 
  #a2a2a2;
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-m);
    font-weight: 600;
    height: 28px;
    letter-spacing: -0.24px;
    margin-top: 18px;
    width: 311px;
  }
  
  .iphone-11-pro-x-signup2 .overlap-group5 {
    height: 57px;
    margin-right: 5.0px;
    margin-top: 12px;
    position: relative;
    width: 328px;
  }
  
  .iphone-11-pro-x-signup2 .mbti-group {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 0;
    width: 328px;
  }
  
  .iphone-11-pro-x-signup2 .mbti {
    height: 20px;
    letter-spacing: -0.34px;
  }
  
  .iphone-11-pro-x-signup2 .line-1 {
    height: 1px;
    margin-left: 1px;
    margin-top: 36px;
    width: 325px;
  }
  
  .iphone-11-pro-x-signup2 .mbti-1 {
    height: 20px;
    left: 2px;
    letter-spacing: -0.28px;
    position: absolute;
    top: 31px;
    width: 258px;
  }
  
  .iphone-11-pro-x-signup2 .overlap-group1 {
    height: 78px;
    margin-right: 2.0px;
    margin-top: 26px;
    position: relative;
    width: 331px;
  }
  
  .iphone-11-pro-x-signup2 .group {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 0;
    width: 330px;
  }
  
  .iphone-11-pro-x-signup2 .id {
    height: 20px;
    letter-spacing: -0.34px;
  }
  
  .iphone-11-pro-x-signup2 .text-6 {
    height: 14px;
    letter-spacing: -0.24px;
    margin-left: 1px;
    margin-top: 6px;
  }
  
  .iphone-11-pro-x-signup2 .x {
    background-color: 
  transparent;
    border: 0;
    height: 20px;
    left: 2px;
    letter-spacing: -0.28px;
    line-height: normal;
    mix-blend-mode: normal;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: left;
    top: 32px;
    width: 258px;
  }
  
  .iphone-11-pro-x-signup2 .x::placeholder {
    color: 
  #4d4d4d99;
  }
  
  .iphone-11-pro-x-signup2 .warning {
    align-items: center;
    display: flex;
    height: 22px;
    left: 307px;
    padding: 0 2px;
    position: absolute;
    top: 35px;
  }
  
  .iphone-11-pro-x-signup2 .overlap-group6 {
    align-items: flex-start;
    background-image: url(polygon-1.svg);
    background-size: 100% 100%;
    display: flex;
    height: 15px;
    justify-content: flex-end;
    min-width: 18px;
    padding: 2.5px 4px;
  }
  
  .iphone-11-pro-x-signup2 .text {
    height: 9px;
    letter-spacing: -0.28px;
    width: 7px;
  }
  
  .iphone-11-pro-x-signup2 .overlap-group2 {
    height: 77px;
    margin-right: 2.0px;
    margin-top: 26px;
    position: relative;
    width: 331px;
  }
  
  .iphone-11-pro-x-signup2 .pw {
    height: 20px;
    letter-spacing: -0.34px;
  }
  
  .iphone-11-pro-x-signup2 .text-10 {
    height: 14px;
    letter-spacing: -0.24px;
    margin-left: 1px;
    margin-top: 5px;
  }
  
  .iphone-11-pro-x-signup2 .textinput-1 {
    background-color: 
  transparent;
    border: 0;
    height: 20px;
    left: 2px;
    letter-spacing: -0.28px;
    line-height: normal;
    mix-blend-mode: normal;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: left;
    top: 32px;
    width: 299px;
  }
  
  .iphone-11-pro-x-signup2 .textinput-1::placeholder {
    color: 
  #4d4d4d99;
  }
  
  .iphone-11-pro-x-signup2 .overlap-group4 {
    height: 79px;
    margin-right: 3.0px;
    margin-top: 26px;
    position: relative;
    width: 330px;
  }
  
  .iphone-11-pro-x-signup2 .text-4 {
    height: 20px;
    letter-spacing: -0.34px;
  }
  
  .iphone-11-pro-x-signup2 .text-5 {
    height: 14px;
    letter-spacing: -0.24px;
    margin-left: 4px;
    margin-top: 7px;
  }
  
  .iphone-11-pro-x-signup2 .textinput-2 {
    background-color: 
  transparent;
    border: 0;
    height: 20px;
    left: 2px;
    letter-spacing: -0.28px;
    line-height: normal;
    mix-blend-mode: normal;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: left;
    top: 32px;
    width: 326px;
  }
  
  .iphone-11-pro-x-signup2 .textinput-2::placeholder {
    color: 
  #4d4d4d99;
  }
  
  .iphone-11-pro-x-signup2 .overlap-group3 {
    height: 130px;
    margin-right: 7.0px;
    margin-top: 26px;
    position: relative;
    width: 330px;
  }
  
  .iphone-11-pro-x-signup2 .text-2 {
    height: 20px;
    letter-spacing: -0.34px;
    margin-left: 1px;
  }
  
  .iphone-11-pro-x-signup2 .rectangle-1 {
    background-color: 
  #e5ebf6;
    border-radius: 9px;
    height: 100px;
    margin-top: 10px;
    width: 328px;
  }
  
  .iphone-11-pro-x-signup2 .x-1 {
    background-color: 
  transparent;
    border: 0;
    height: 85px;
    left: 8px;
    letter-spacing: -0.28px;
    line-height: normal;
    mix-blend-mode: normal;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: left;
    top: 37px;
    width: 312px;
  }
  
  .iphone-11-pro-x-signup2 .x-1::placeholder {
    color: 
  #4d4d4d99;
  }
  
  .iphone-11-pro-x-signup2 .view-1 {
    align-items: flex-start;
    display: flex;
    margin-right: 4.0px;
    margin-top: 32px;
    min-width: 317px;
  }
  
  .iphone-11-pro-x-signup2 .overlap-group7 {
    border-radius: 16px;
    height: 45px;
    position: relative;
    width: 315px;
  }
  
  .iphone-11-pro-x-signup2 .rectangle-3 {
    background-color: var(--indigo);
    border-radius: 16px;
    cursor: pointer;
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 315px;
  }
  
  .iphone-11-pro-x-signup2 .text-12 {
    height: 18px;
    left: 130px;
    letter-spacing: -0.30px;
    position: absolute;
    text-align: center;
    top: 14px;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Work+Sans:700,500,600");
  
  .screen a {
    display: contents;
    text-decoration: none;
  }
  
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }
  
  .container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
  }
  
  .valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  input:focus {
    outline: none;
  }

  :root {
    --onyx: 
  rgba(58, 58, 58, 1);
    --indigo: 
  rgba(81, 123, 204, 1);
    --indigo-2: 
  rgba(82, 101, 204, 1);
    --fuscous-gray: 
  rgba(84, 84, 84, 1);
    --star-dust-2: 
  rgba(154, 154, 154, 1);
    --star-dust: 
  rgba(161, 161, 161, 1);
    --quick-silver: 
  rgba(163, 162, 168, 1);
    --periwinkle-gray: 
  rgba(188, 201, 225, 1);
    --peach: 
  rgba(255, 234, 180, 1);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-xxxxs: 14px;
    --font-size-xxs: 17px;
    --font-size-xs: 18px;
    --font-size-s: 20px;
    --font-size-m: 26.4px;
    --font-size-s2: 15px;
  
    --font-family-work_sans: "Work Sans";
  }

  .worksans-bold-quick-silver-15px {
    color: var(--quick-silver);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-s2);
    font-weight: 700;
    font-style: normal;
  }
  
  .worksans-semi-bold-star-dust-14px {
    color: var(--star-dust);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xxxxs);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-bold-indigo-26-4px {
    color: var(--indigo-2);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  
  .worksans-bold-onyx-26-4px {
    color: var(--onyx);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  
  .worksans-semi-bold-white-15px {
    color: var(--white);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-s2);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-bold-star-dust-15px {
    color: var(--star-dust-2);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-s2);
    font-weight: 700;
    font-style: normal;
  }
  
  .worksans-semi-bold-fuscous-gray-18px {
    color: var(--fuscous-gray);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-bold-white-26-4px {
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }
  
  .worksans-bold-onyx-20px {
    color: var(--onyx);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-s);
    font-weight: 700;
    font-style: normal;
  }
  
  .worksans-semi-bold-indigo-17px {
    color: var(--indigo);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xxs);
    font-weight: 600;
    font-style: normal;
  }

  :root {
    --eerie-black: 
  rgba(28, 28, 28, 1);
    --onyx: 
  rgba(58, 58, 58, 1);
    --tundora: 
  rgba(70, 70, 70, 1);
    --abbey: 
  rgba(77, 77, 77, 1);
    --indigo-2: 
  rgba(81, 123, 204, 0.502);
    --indigo: 
  rgba(81, 123, 204, 1);
    --indigo-22: 
  rgba(82, 101, 204, 1);
    --fuscous-gray: 
  rgba(84, 84, 84, 1);
    --gray: 
  rgba(128, 128, 128, 1);
    --suva-gray: 
  rgba(135, 135, 135, 1);
    --star-dust-2: 
  rgba(154, 154, 154, 1);
    --star-dust: 
  rgba(161, 161, 161, 1);
    --quick-silver: 
  rgba(163, 162, 168, 1);
    --periwinkle-gray: 
  rgba(188, 201, 225, 1);
    --mystic: 
  rgba(229, 235, 246, 1);
    --peach: 
  rgba(255, 234, 180, 1);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-xxxxs: 14px;
    --font-size-xxs: 17px;
    --font-size-xs: 13px;
    --font-size-s2: 15px;
    --font-size-s3: 20px;
    --font-size-m2: 26.4px;
    --font-size-xs2: 18px;
  
    --font-family-work_sans: "Work Sans";
  }

  .worksans-bold-quick-silver-15px {
    color: var(--quick-silver);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-s2);
    font-weight: 700;
    font-style: normal;
  }
  
  .worksans-semi-bold-star-dust-14px {
    color: var(--star-dust);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xxxxs);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-semi-bold-indigo-13px {
    color: var(--indigo);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-semi-bold-gray-15px {
    color: var(--gray);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-s2);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-bold-indigo-26-4px {
    color: var(--indigo-22);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-m2);
    font-weight: 700;
    font-style: normal;
  }
  
  .worksans-bold-onyx-26-4px {
    color: var(--onyx);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-m2);
    font-weight: 700;
    font-style: normal;
  }
  
  .worksans-semi-bold-white-15px {
    color: var(--white);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-s2);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-bold-indigo-26-4px-2 {
    color: var(--indigo);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-m2);
    font-weight: 700;
    font-style: normal;
  }
  
  .worksans-semi-bold-quick-silver-15px {
    color: var(--quick-silver);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-s2);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-semi-bold-tundora-15px {
    color: var(--tundora);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-s2);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-semi-bold-star-dust-12px {
    color: var(--star-dust);
    font-family: var(--font-family-work_sans);
    font-size: 12;
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-semi-bold-abbey-14px {
    color: var(--abbey);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xxxxs);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-bold-white-18px {
    color: var(--white);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xs2);
    font-weight: 700;
    font-style: normal;
  }
  
  .worksans-medium-white-15px {
    color: var(--white);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-s2);
    font-weight: 500;
    font-style: normal;
  }
  
  .worksans-semi-bold-suva-gray-10px {
    color: var(--suva-gray);
    font-family: var(--font-family-work_sans);
    font-size: 10;
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-bold-star-dust-15px {
    color: var(--star-dust-2);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-s2);
    font-weight: 700;
    font-style: normal;
  }
  
  .worksans-semi-bold-fuscous-gray-18px {
    color: var(--fuscous-gray);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xs2);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-bold-white-26-4px {
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-m2);
    font-weight: 700;
    font-style: normal;
  }
  
  .worksans-bold-onyx-20px {
    color: var(--onyx);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-s3);
    font-weight: 700;
    font-style: normal;
  }
  
  .worksans-semi-bold-indigo-13px-2 {
    color: var(--indigo-2);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-semi-bold-white-14px {
    color: var(--white);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xxxxs);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-semi-bold-indigo-17px {
    color: var(--indigo);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xxs);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-semi-bold-eerie-black-15px {
    color: var(--eerie-black);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-s2);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-semi-bold-eerie-black-17px {
    color: var(--eerie-black);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xxs);
    font-weight: 600;
    font-style: normal;
  }
  
  .worksans-semi-bold-white-17px {
    color: var(--white);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xxs);
    font-weight: 600;
    font-style: normal;
  }
  